@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #ccc5b6;
  color: #1D2623;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card{
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2rem;
  border: none;
  -webkit-box-shadow: 2px 2px 10px 0px rgb(87, 87, 87);
  -moz-box-shadow: 2px 2px 10px 0px rgb(87, 87, 87);
  box-shadow: 2px 2px 10px 0px rgb(87, 87, 87);
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: #F2EDDC;
}

textarea{
  width: 100%;
  height: 7rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

li{
  list-style-type: none;
  border-radius: 15px;
  padding-bottom: 0.7rem;
  width: 100%;
}

.addButton{
  margin-bottom: 2rem;
  background-color: #8C4C35;
  border: none;
}

.delete-button{
  border: none;
  background: none;
  cursor: pointer;
  display: inline;
  margin-left: 98%;
  padding: 0;
  color: #8C4C35;
}

.flex-parent{
  width: 30%;
  margin-right:2rem;
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 5px 2px rgb(87, 87, 87);
  -moz-box-shadow: 2px 2px 5px 2px rgb(87, 87, 87);
  box-shadow: 2px 2px 5px 2px rgb(87, 87, 87);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #F2EDDC
}

.created-date{
  font-size: 0.6rem;
  color: #8C4C35;
}