@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card{
  margin-left: 25rem;
  margin-right: 25rem;
  margin-bottom: 2rem;
  border: none;
  -webkit-box-shadow: 2px 2px 10px 0px rgb(87, 87, 87);
  -moz-box-shadow: 2px 2px 10px 0px rgb(87, 87, 87);
  box-shadow: 2px 2px 10px 0px rgb(87, 87, 87);
  padding: 2rem;
  padding-bottom: 1rem;
}

body {
  margin: 1.5rem;
}

textarea{
  width: 100%;
  height: 7rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

li{
  list-style-type: none;
  border-radius: 15px;
  padding-bottom: 0.7rem;
  width: 100%;
}

.addButton{
  margin-bottom: 2rem;
}

.delete-button{
  border: none;
  background: none;
  cursor: pointer;
  display: inline;
  margin-left: 98%;
  padding: 0;
}

.flex-parent{
  width: 45%;
  margin-right:1rem;
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 5px 2px rgb(87, 87, 87);
  -moz-box-shadow: 2px 2px 5px 2px rgb(87, 87, 87);
  box-shadow: 2px 2px 5px 2px rgb(87, 87, 87);
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.created-date{
  font-size: 0.6rem;
  color: darkcyan;
}